/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-size: 14px;
}

body {
  height: 100%dvh;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --app-primary-color: #1f96f4;
  --app-gray-color: #f2f2f2;
  --app-black-color: #000000;
  --color-red: #e20512;
  --color-black: #333333;
  --color-green: #10b981;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
