<div class="loader-container" *ngIf="isLoading" class="overlay">
    <mat-spinner diameter="50"></mat-spinner>
</div>

<div *ngIf="!isLoading">
    <table cdk-table [dataSource]="employees">
        <ng-container cdkColumnDef="id">
            <th cdk-header-cell *cdkHeaderCellDef>
                <span>Employee ID</span>
                <button mat-icon-button [matMenuTriggerFor]="idMenu">
                    <mat-icon>swap_vert</mat-icon>
                </button>
            </th>

            <td cdk-cell *cdkCellDef="let employee">
                {{ employee.id }}
            </td>
        </ng-container>

        <ng-container cdkColumnDef="fullName">
            <th cdk-header-cell *cdkHeaderCellDef>
                <span>Full Name</span>
                <button mat-icon-button
                    [matMenuTriggerFor]="searchName"
                    (menuOpened)="focusSearchInput()">
                    <mat-icon>sort_by_alpha</mat-icon>
                </button>
            </th>
            <td cdk-cell *cdkCellDef="let employee">{{ employee.firstName}}
                {{employee.lastName }}</td>
        </ng-container>

        <ng-container cdkColumnDef="age">
            <th cdk-header-cell *cdkHeaderCellDef>Age</th>
            <td cdk-cell *cdkCellDef="let employee">{{ employee.age }}</td>
        </ng-container>

        <ng-container cdkColumnDef="email">
            <th cdk-header-cell *cdkHeaderCellDef>Email</th>
            <td cdk-cell *cdkCellDef="let employee">{{ employee.email }}</td>
        </ng-container>

        <ng-container cdkColumnDef="phone">
            <th cdk-header-cell *cdkHeaderCellDef>Phone</th>
            <td cdk-cell *cdkCellDef="let employee">{{ employee.phone }}</td>
        </ng-container>

        <ng-container cdkColumnDef="country">
            <th cdk-header-cell *cdkHeaderCellDef>Country</th>
            <td cdk-cell
                *cdkCellDef="let employee">{{employee.address.country}}</td>
        </ng-container>

        <ng-container cdkColumnDef="role">
            <th cdk-header-cell *cdkHeaderCellDef>Role</th>
            <td cdk-cell *cdkCellDef="let employee" class="role-cell">
                <article class="options">
                    <span class="role-text">{{ employee.role }}</span>
                    <span class="action-buttons">
                        <button mat-icon-button (click)="showDialog(employee)">
                            <mat-icon style="color: #8d99ae;">edit</mat-icon>
                        </button>
                        <button mat-icon-button
                            (click)="DeleteEmp(employee.id)">
                            <mat-icon style="color: #463f3a;">delete</mat-icon>
                        </button>
                    </span>
                </article>
            </td>
        </ng-container>

        <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
        <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div *ngIf="noResult" class="no-result">
        No results found
    </div>

    <mat-menu #idMenu="matMenu">
        <button mat-menu-item (click)="ascending()">
            <span>Asc</span>
        </button>

        <button mat-menu-item (click)="descending()">
            <span>Dsec</span>
        </button>
    </mat-menu>

    <mat-menu #searchName="matMenu">
        <div mat-menu-item (click)="$event.stopPropagation()"
            (keydown)="$event.stopPropagation()">
            <input type="text" #menuInput class="search-input"
                placeholder="Search by name" [(ngModel)]="searchText"
                (input)="searchByName()">
        </div>
        <button mat-menu-item (click)="reset(); $event.stopPropagation()">
            <mat-icon>refresh</mat-icon>
            <span>Reset</span>
        </button>
        <button mat-menu-item (click)="close();">
            <mat-icon>cancel</mat-icon>
            <span>close</span>
        </button>
    </mat-menu>
</div>

<div *ngIf="onDelete" class="deleted">
    <p>user deleted {{currentUser}}</p>
</div>