.employee-dialog {
  height: 100%dvh;
  width: auto;
  max-width: 90vw;
  box-sizing: border-box;
}

.add-mode {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.add-mode aside {
  flex: 1;
  min-width: 0;
}

.edit-mode {
  display: block;
  width: 100%;
}

.edit-mode aside {
  width: 100%;
}

.form-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  outline: none;
}

.form-input:focus {
  border-color: var(--app-primary-color);
  box-shadow: 0 0 0 2px rgba(0, 0, 255, 0.15);
}

.errors p {
  color: var(--color-red);
  font-size: 10px;
  padding: 0;
  margin: 0;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.updatebtn {
  background-color: var(--color-green);
  color: #ffffff;
}

.cancelbtn {
  color: var(--color-red);
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 10px 0 10px;
}
