.employee-dialog {
    height: auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.form-input:focus {
  border-color: blue;
  box-shadow: 0 0 0 2px rgba(0, 0, 255, 0.15);
}

.errors p {
  color: red;
  font-size: 10px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 15px;
}

.updatebtn{
    background-color: var(--primary-color);
}
