.sidenav-container {
  height: 100dvh;
}

.sidebar {
  width: 250px;
  background: #f5f5f5;
  border-right: 1px solid #ddd;
  padding-top: 20px;
}

.main-content {
  height: 100%;
}

.content {
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

mat-nav-list {
  padding: 0;
}

mat-nav-list a {
  height: 48px;
  margin: 6px 12px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

mat-nav-list a:hover {
  background: rgba(25, 118, 210, 0.08);
}

mat-nav-list a:active{
  background-color: var(--app-primary-color);
}

.active-link {
  background: var(--app-primary-color);
  color: white !important;
}

.active-link span {
  color: white;
}

mat-nav-list a {
  margin: 6px 10px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

mat-nav-list a:hover {
  background-color: rgba(25, 118, 210, 0.1);
}

mat-nav-list a.active-link {
  background-color: #1976d2;
  color: white !important;
  font-weight: 500;
}