<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened class="sidebar">
        <h2 class="logo">Employee Details</h2>
        <mat-nav-list>
            <a mat-list-item routerLink="/users">
                <mat-icon>dashboard</mat-icon>
                <span>Dashboard</span>
            </a>
            <!-- <a mat-list-item routerLink="/Emplist">
                <mat-icon> list_alt</mat-icon>
                <span>List</span>
            </a> -->
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="main-content">
        <mat-toolbar>
            <span>Employee Management</span>
            <!-- <span>
                <button (click)="Addemp()">Add Employee<mat-icon>add_box</mat-icon></button>
            </span> -->
            <button (click)="openAddDialog()">
                <mat-icon>person_add</mat-icon>
                <span>Add Employee</span>
            </button>
        </mat-toolbar>

        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>